.mat-grid-tile .mat-figure {
    display: block !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}
.my-grid-tile {
    padding-top: 300px !important;
}
.my-grid-tile2 {
    padding-top: 800px !important;
}