<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li routerLinkActive="active"><a routerLink="/recipes" class="nav-link">Recipes <span class="sr-only">(current)</span></a> </li>
                <li routerLinkActive="active"><a routerLink="/shopping-list" class="nav-link">Shopping List</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a style="cursor: pointer" appHeaderDropdown class="dropdown-toggle nav-link" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-dropdown">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- 
(click)="onSelect('recipe')"
(click)="onSelect('shopping-list')" -->
