<!-- <div class="row">
    <div class="col-xs-12">
        <img
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}"
            class="img-responsive"
            style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" appDropdown class="btn btn-primary dropdown-toggle">Manage recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer" (click)="onAddToShoppingList()" >To Shopping List</a></li>
                <li><a style="cursor: pointer" (click)="onEditRecipe()" >Edit Recipe</a></li>
                <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div> -->

<mat-card>
    <mat-card-header>
        <div>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title><h3>{{ recipe.name }}</h3></mat-card-title>
            <mat-card-subtitle>Recipe</mat-card-subtitle>
        </div>
        <div style="position: absolute; right: 20px;">
            <button mat-icon-button color="accent" aria-label="Like">
                <mat-icon>favorite</mat-icon>
            </button>
             <button mat-icon-button color="primary" aria-label="Search">
                <mat-icon>search</mat-icon>
            </button>
            <button
                mat-button
                color="primary"
                type="button"
                [matMenuTriggerFor]="menu"
                appDropdown
                class="dropdown-toggle"
                color="primary">
                    Manage recipe <span class="caret"></span>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item style="cursor: pointer" (click)="onAddToShoppingList()">
                <mat-icon>add_shopping_cart</mat-icon>
                <span>To Shopping List</span>
              </button>
              <button mat-menu-item style="cursor: pointer" (click)="onEditRecipe()">
                <mat-icon>edit</mat-icon>
                <span>Edit Recipe</span>
              </button>
              <button mat-menu-item style="cursor: pointer" (click)="onDeleteRecipe()">
                <mat-icon>delete_sweep</mat-icon>
                <span>Delete Recipe</span>
              </button>
            </mat-menu>
        </div>
    </mat-card-header>
    <img
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}"
            class="img-responsive"
            style="width: 100%; background-size: cover; margin-bottom: 20px;">
    <mat-card-content>
        <p>{{ recipe.description }}</p>
    </mat-card-content>
    <mat-list>
        <h3 mat-subheader>Ingredients</h3>
        <mat-list-item *ngFor="let ingredient of recipe.ingredients">
          <mat-icon mat-list-icon>done</mat-icon>
          <p mat-line>{{ ingredient.name }} - {{ ingredient.amount }} </p>
        </mat-list-item>
    </mat-list>
</mat-card>
